@mixin activeLink {
    background-color: $color-white;
    color: $color-main;
    border-radius: 3px;
}

@mixin hideInput {
    opacity: 0.2;
    filter: blur(5px);
    transition: visibility 0s, opacity 0.1s linear;
    &:hover{
        cursor: not-allowed;
    }
}
@mixin form{
    width: 90%;
    padding: 0.4rem;
    margin: 0.4rem auto;
    font-family: $font-ubuntu;
}

@mixin responsiveWidth{
    width: 100%;
    @media screen and (min-width: 500px) {
        width: calc(100vw - 20%);
    }
    @media screen and (min-width: 700px) {
        width: 40rem;
    } 
}