/* Coolors Exported Palette - coolors.co/56d73d-0b4f6c-01baef-fbfbff-757575 */

/* HSL */
// $color1: hsla(110%, 66%, 54%, 1);
// $color2: hsla(198%, 82%, 23%, 1);
// $color3: hsla(193%, 99%, 47%, 1);
// $color4: hsla(240%, 100%, 99%, 1);
// $color5: hsla(0%, 0%, 46%, 1);

/* RGB */
$grey: rgb(214, 214, 214);
$color-green: rgb(63, 63, 63);
$color-light: #09708a;
$color-main: #3b444b;
$color-white: rgb(235, 235, 235);
$color-dark: #333435;
$color-black: #101113;








